@tailwind base;
@tailwind components;
@tailwind utilities;


  @layer components {
    /* .dashboard {
      @apply w-full col-span-12 md:col-span-10 flex flex-col h-[90vh] border px-10 md:px-8 lg:px-10 py-8 bg-[#F2EFF7] flex-grow;
    }*/

    .event-dashboard {
      @apply w-full col-span-12 md:col-span-9 flex flex-col px-5 sm:px-7 py-8 bg-[#F2EFF7] flex-grow
    } 
  }

  /*No scrollBar */
  @layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .scrollbar-hide::-webkit-scrollbar {
          display: none;

      }
  
      /* Hide scrollbar for IE, Edge and Firefox */
      .scrollbar-hide {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }
  
